#container{
    margin: 30px 0;
    width: 600px;
    background-color: #ffe0ea;
    padding: 40px;
    border-radius: 30px;
}

input{
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    height:50px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border-radius: 10px;
    border:0;
}
input::placeholder{
    font-size: 15px;
}
ul,li{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.list{
    margin: 15px 0;
}
.list > li {
    margin: auto;
    background-color: #d0b7bf;
    padding: 10px;
    margin-bottom: 5px;
    justify-content: space-between;
    display: flex;
    width: 500px;
    
}
.btn{
    display: flex;
    justify-content: flex-end;
    padding: 5px 0;
    height: 40px;
    
}

.btn > button {
    padding: 5px;
    width: 150px;
    border-radius: 10px;
    background-color: #d0b7bf;
    border:0;
}